
body{
  margin: 10px;
  font-family: Lucida Sans, sans-serif;
  background-image: url('/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  /* background-color: rgba(255, 255, 255, 0.85); */
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  text-align: center;
  max-width: 700px;
  width: 90%;
}

.grid-options{
  padding: 20px 40px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background-color: #FFC1B4;
  color: white;
  cursor: painter;
}

.grid-options button{
  font-family: Lucida Sans, Arial;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 4.5px;
}

.grid-options button:hover{
  background-color: #FED2E2;
  transition: 0.2s;
}

.controls{
  display: flex;
  justify-content: center;
  gap: 10px;
}

.controls button{
  padding: 10px 16px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.controls button:first-child{
  background-color: #F16767;
  color: black;
}

.controls button:first-child:hover{
  background-color: #FED2E2;
  transition: 0.2s;
}

.controls button:last-child{
  background-color: #FF9A9A;
  color: black;
}

.controls button:last-child:hover{
  background-color: #FED2E2;
  transition: 0.2s;
}

.strip-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 30px; */
}

.photo-strip{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D76C82;
  padding: 20px 15px;
  border-radius: 12px;
}

.photo-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.photo-box{
  margin-bottom: 12px;
}

.photo-box img {
  width: 200px;
  height: auto;
  border-radius: 6px;
  /* border: 2px solid #ccc; */
}

.reset-button{
  margin-top: 25px;
  padding: 12px 24px;
  background-color: #F16767;
  color: black;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.reset-button:hover{
  background-color: #FED2E2;
  transition: 0.3s;
}